doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title JS prototypes

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article

			section
				h1 JS prototypes

			section
				h2 __proto__
				div.editor
					textarea
						| var a = {};
						| a.b = 1;
						| a.b;
					div.actions
						button(type='button') Go
					div.output

			section
				h2 Eval
				div.eval
					textarea
						| var a = {};
						| a.b = 1;
						| a.b;

			section
				h2 Bullet List
				h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
				ul
					li Bullet 1
					li Bullet 2
					li Bullet 3

			section
				h2 Syntax Highlighting
				h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
				pre
					code.language-javascript.
						bespoke.from('article', {
							keys: true,
							touch: true,
							hash: true,
							state: true,
							bullets: 'li, .bullet'
						});

		script(src='assets/behave.js')
		script(src='build/build.js')
